*{
    margin: 0;
}
h1,h2{
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
h2{
    text-align: right;
}
.tab_1{ /* . 찍은이유는 클래스임을 알기위해*/
    width: 1200px;
    border: 0px solid blue;
    margin: 30px auto;
}
.tab_1 tr{

}
.tab_1 tr td{
    width: 171px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
}
.tab_1 tr .red{ /*붙이는 이유는 자식이기때문 띄면 부모가됨*/
    color: red;
}
td.blue{ /* 위처럼 쓰는게 정석이지만 이렇게 줄일 수 있음*/
    color: blue;
}